*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar-close-btn {
    background: none;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 0.2rem;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: 1rem;
    top: 2rem;
    border: none;
}

#navbar-close-btn:hover {
    background-color: white;
    color: #1ec6b6;
}

.navbar-nav {
    margin-top: 5rem;
}

.nav-item {
    margin: 1.6rem;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    opacity: 0.8;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background: #1b9bff;
    transition: .5s;
}

.btn {
    padding: 0.7rem 2.4rem;
    border-radius: 0.2rem;
    font-weight: 600;
    background-color: #1ec6b6;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*change on scroll */
.navbar-cng {
    background-color: white;
    box-shadow: 0px 4px 5px 0px rgba(48, 48, 48, 0.2);
    transition: all 0.3s ease-in-out;
}

.navbar-cng .site-brand {
    color: black;
}

.navbar-cng .site-brand span {
    color: #1ec6b6;
}

.navbar-cng #navbar-show-btn {
    color: #1ec6b6;
}
@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbutton {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
    }

    #navbar-close-btn {
        display: none;
    }

    .navbar-nav {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }

    .nav-item {
        margin: 0;
        margin-left: 2rem;
    }

    .navbar-cng .navbar-nav .nav-link {
        color: black;
    }

    .about-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }

    .about-left {
        margin: 0;
    }
}
